/* general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.capitalize {
  text-transform: capitalize;
}

#prima {
  font-size: 50px;
  color: rgb(35, 110, 171);
}
#mese {
  flex-basis: 30%;
  text-align: center;
  font-size: 50px;
  font-style: italic;
  color: rgb(35, 110, 171);
}

#dopo {
  font-size: 50px;
  color: rgb(35, 110, 171);
}

/* griglia-mese */

.griglia-mese {
  display: flex;
  flex-wrap: wrap;
  width: 88%;
  margin: 0 auto;
}

.cella-giorno {
  width: calc(100% / 7);
  height: 90px;
  border: 1px solid rgb(70, 70, 70);
  font-size: 12px;
  position: relative;
}

.cella-vuota {
  width: calc(100% / 7);
  height: 90px;
  border: 1px solid grey;
}

.red {
  color: red;
}

.pink {
  background-color: pink;
}

.festa {
  position: absolute;
  bottom: 0;
  right: 0;
}

.notes {
  display: none;
  width: 200px;
  height: 100px;
  border: 1px solid lightblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  background-color: white;
  border-radius: 5px;
}

h3 {
  color: rgb(35, 110, 171);
  width: 100%;
  background-color: lightblue;
  text-align: center;
}

.pink .notes h3, .pink .notes .close{
  background-color: pink;
  color: rgb(240, 77, 121);
}
.pink .notes, .pink .close {
  border: 1px solid pink;
}

.red .notes h3, .red .notes .close {
  background-color: red;
  color: white;
}

.red .notes, .red .close {
  border: 1px solid red;
}

.close {
  position: absolute;
  top: -17px;
  right: -17px;
  color: rgb(35, 110, 171);
  font-size: 17px;
  z-index: 9;
  background-color: lightblue;
  padding: 5px 7px;
  border-radius: 5px;
  border: 1px solid lightblue;
}

.inputnotes {
  width: 197px;
  height: 80px;
  margin: 0 1px;
  border: 0;
}

.inputnotes:focus {
  outline-color: transparent;
  outline-style: none;
}

.active {
  display: block;
}

.disable {
  display: none;
}
