/* general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav */
nav {
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.capitalize {
  text-transform: capitalize;
}

/* griglia-mese */

.griglia-mese {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  /* height: 80vh; */
}

.cella-giorno {
  width: calc(100% / 7);
  height: 90px;
  border: 1px solid black;
  font-size: 12px;
  position: relative;
}

.cella-vuota {
  width: calc(100% / 7);
  height: 90px;
  border: 1px solid grey;
}

.red {
  color: red;
}

.pink {
  background-color: pink;
}

.festa {
  position: absolute;
  bottom: 0;
  right: 0;
}

.notes {
  display: none;
  width: 200px;
  height: 100px;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  background-color: white;
}

h3 {
  color: blue;
  width: 100%;
  background-color: lightblue;
  text-align: center;
}
.close {
  position: absolute;
  top: -15px;
  right: -15px;
  color: blue;
  font-size: 17px;
  z-index: 15;
}

.inputnotes {
  width: 200px;
  height: 80px;
}

.active {
  display: block;
}

.disable {
  display: none;
}
